body {
  padding-bottom: 20px;
  padding-top: 50px;
}
#main-header {
  padding-bottom: 48px;
  padding-top: 48px;
}
#main-header .container img {
  float: left;
  margin-right: 20px;
  margin-top: 21px;
}
#main, #blog-container {
  margin-top: 40px;
}
.infobox img {
  max-width: 100%;
}

.blog-title {
  margin-top: 0;
}
